/* CSS for home page */
#root>.homebackground {
    position: relative; opacity: 1;height: 280px;
}

#root>.homebackground>.imgUpload {
    position: absolute; right: 10px; bottom: 10px; width: 32px; background-color: rgba(0, 0, 0, 0.4); border-radius: 100%;
}

#root>.homebackground>.imgUpload label {
    display: flex; align-items: center;
}


/* top bar */
#root>.topBar {
    display: flex; background-color: #026aa7; justify-content: space-between; flex-wrap: wrap; padding: 0px 5px; height: 38px;
}

#root>.topBar>.topLeft,
#root>.topBar>.topRight {
    display: flex; margin: 5px;flex-wrap: wrap; align-items: center;
}

#root>.topBar>.topLeft>.searchBar input {
    display: none; 
}

#root>.topBar>.topRight>.boardList>.boardIcon,
#root>.topBar>.topRight>.signOutImg,
#root>.topBar>.topRight>.boardList>.alert,
#root>.topBar>.topLeft>.home {
    width: 18px; background-color:hsla(0,0%,100%,.3); display: flex;align-items: center;justify-content: center; border-radius: 3px; padding: 0 10px; height: 32px;
}


#root>.topBar>.topRight>.memberIcon a,
#root>.topBar>.topRight>.boardList>.boardIcon a,
#root>.topBar>.topLeft>.home a {
    display: flex;
}
#root>.topBar>.topRight>.boardList>.boardIcon:hover ,
#root>.topBar>.topRight>.signOutImg:hover ,
#root>.topBar>.topRight>.boardList>.alert:hover ,
#root>.topBar>.topLeft>.home:hover {
    background-color:hsla(0,0%,100%,.6)
}

#root>.topBar>.topRight>.boardList>.boardIcon img,
#root>.topBar>.topRight>.signOutImg img,
#root>.topBar>.topRight>.boardList>.alert img,
#root>.topBar>.topLeft>.home img {
    width: 22px; height: 22px; cursor: pointer;
}

#root>.topBar>.topRight>.memberIcon {
    width: 32px;
}

#root>.topBar>.topRight>.memberIcon img {
    border-radius: 100%;height: 32px;
}
#root>.topBar>.topLeft>.home,
#root>.topBar>.topRight>.memberIcon,
#root>.topBar>.topRight>.boardList {
    margin-right: 8px; 
}

#root>.topBar>.topRight>.boardList {
    position: relative;
}
#root>.topBar>.topRight>.boardList>.alert>.alertMsg {
    border-radius: 100%; background-color: rgba(250,0,0,0.9); width: 18px;height: 18px;position: absolute;right: -2px;top: -1px;text-align: center;color: white;padding-bottom: 3px;
}
#root>.topBar>.topRight>.alertDiv>.alertMenu {
    width: 150px;border-radius: 3px; background-color: rgba(0,0,0,0.6); z-index: 50;
}
#root>.topBar>.topRight>.alertMenu>.showMenuBackground {
    position: fixed; top: 0; right: 0;left: 0;bottom: 0;
}

#root>.topBar>.topRight>.alertMenu li {
    background-color: rgba(0,0,0,0.6); color: white; font-size: 13px; list-style:none; padding: 3px 8px 3px 8px; z-index: 5; list-style:none;
}
#root>.topBar>.topRight>.alertMenu li:hover {
    background-color: rgba(0,0,0,0.8);
}

#root>.topBar>.logoDiv {
    width: 90px; height: 32px; position: absolute; left: calc(50% - 45px);
}

#root>.topBar>.logoDiv img {
    margin-top: -6px;
}


/* profile */
.homepage {
    display: flex; margin: -105px auto 0px auto; width: 75%; flex-direction: column;
}

.homepage>.profile {
    flex-grow: 0.5; display: flex; z-index: 2;
}

.homepage>.profile>.myImg {
    width: 180px;
}
.homepage>.profile>.myImg img {
    border-radius: 100%;
}
.homepage>.profile>.details {
    display: flex; flex-direction: column-reverse; padding: 0 0 5px 30px;
}
.homepage>.profile>.details>.list>.name {
    font-weight: bolder; font-size: 22px; margin-bottom: 10px;
}


/* menu */
.homepage>.mainContent {
    display: flex; margin-top: 50px;flex-direction: row;
}
.homepage>.mainContent>.menu {
    display: flex; flex-direction: column; margin-left: 15px; min-width: 160px;font-weight: bold;
}
.homepage>.mainContent>.menu>a {
    text-decoration: none; color: black;
}
.homepage>.mainContent>.menu>a .readBoard,
.homepage>.mainContent>.menu>a .readNotice,
.homepage>.mainContent>.menu>a .readEditor {
    letter-spacing: 1px; height: 40px; border:1px solid rgba(211, 211, 211, 0.6);display: flex; background-color: white;margin-bottom: 10px;padding: 0 35px 0 35px;align-items: center;
}
.homepage>.mainContent>.menu>a .readBoard:hover,
.homepage>.mainContent>.menu>a .readNotice:hover,
.homepage>.mainContent>.menu>a .readEditor:hover {
    border:1px solid rgba(211, 211, 211); background-color: rgba(211, 211, 211,0.3);
}


/* boardLists */
.homepage>.mainContent>.boardLists {
    margin: 0 0 70px 100px; max-height: 700px; border:1px solid rgba(211, 211, 211, 0.6);width: 75%;flex-grow: 4; display: flex; flex-direction: column;background-color: rgba(254, 246, 251, 0.36);box-shadow:3px 3px 12px lightgray
}

.homepage>.mainContent>.boardLists>.section>.category {
    font-weight: bolder; font-size: 20px; border-bottom: 2px solid rgba(211, 211, 211, 1); margin-bottom: 20px; padding-bottom: 5px;
}

.homepage>.mainContent>.boardLists>.section {
    display: flex; flex-direction: column;flex-grow: 1;margin: 20px;
}

.homepage>.mainContent>.boardLists>.section>.category {
    margin-bottom: 10px;letter-spacing: 2px;
}
.homepage>.mainContent>.boardLists>.section>.items {
    display: flex; flex-wrap: wrap;max-height: 435px; overflow-y: auto;
}
.homepage>.mainContent>.boardLists>.section>.items>.board {
    border: 1px solid darkgray; background-color: rgba(211, 211, 211, 0.6); width: 150px; height: 90px; margin: 5px 20px 10px 0; text-align: center;line-height: 90px;border-radius: 12px;color: white;
}


/* messages */
.homepage>.mainContent>.notifications {
    margin: 0 0 70px 100px; max-height: 700px; border:1px solid rgba(211, 211, 211, 0.6);width: 75%;flex-grow: 4;background-color: rgba(254, 246, 251, 0.36);box-shadow:3px 3px 12px lightgray
}
.homepage>.mainContent>.notifications>.section {
    margin: 20px;
}
.homepage>.mainContent>.notifications>.section>.category {
    font-weight: bolder; font-size: 20px; border-bottom: 2px solid rgba(211, 211, 211, 1);margin-bottom: 20px;padding-bottom: 5px;letter-spacing: 2px;
}
.homepage>.mainContent>.notifications>.section>.bars {
    display: flex; flex-direction: column-reverse;max-height: 620px; overflow-y: auto;
}
.homepage>.mainContent>.notifications>.section>.bars>.sanckbar {
    display: flex; flex-wrap: wrap;justify-content: space-between;align-items: center;
}
.homepage>.mainContent>.notifications>.section>.bars>.sanckbar:hover {
    background-color: rgba(211, 211, 211,0.3);border-radius: 5px;
}

.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.msg {
    display: flex;align-items: center;margin-left: 15px;
}
.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.msg>.imgDiv {
    width: 28px;margin-right: 15px;
}

.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts {
    display: flex; flex-wrap: wrap;align-items: center;
}

.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts>.accept,
.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts>.deny {
    display: inline-block; padding: 0 14px; box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08); background: #fff; border-radius: 4px; transition: all .3s ease
}

.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts>.accept:hover,
.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts>.deny:hover {
    color: white;transform: translateY(-1px); box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}


.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts>.accept {
    margin-right: 15px;background-color: rgba(102,163,255,0.7);width: 75px;border-radius: 5px;box-shadow:0 1px 2px 0;padding: 2px;display: flex; align-items: center; justify-content: center;cursor: pointer;

}

.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts>.deny {
    margin-right: 15px;background-color: rgba(255,77,77,0.7);width: 55px;border-radius: 5px;box-shadow:0 1px 2px 0;padding: 2px;display: flex; align-items: center; justify-content: center;cursor: pointer;
}

/* editable */
.homepage>.mainContent>.editors {
    flex-grow: 4;margin: 0 0 70px 100px; max-height: 700px; border:1px solid rgba(211, 211, 211, 0.6);width: 75%;background-color: rgba(254, 246, 251, 0.36);box-shadow:3px 3px 12px lightgray
}
.homepage>.mainContent>.editors>.section {
    display: flex; flex-direction: column;flex-grow: 1;margin: 20px;
}
.homepage>.mainContent>.editors>.section>.category {
    font-weight: bolder; font-size: 20px; border-bottom: 2px solid rgba(211, 211, 211, 1);margin-bottom: 20px;padding-bottom: 5px;letter-spacing: 2px;
}
.homepage>.mainContent>.editors>.section>.contents {
    display: flex; flex-wrap: wrap; justify-content: space-between;max-height: 435px; overflow-y: auto;
}
.homepage>.mainContent>.editors>.section>.contents>.content {
    display: flex; width: 46%;justify-content: space-between; margin: 2px 7px;padding: 3px 8px; align-items: center; border-radius: 4px;
}
.homepage>.mainContent>.editors>.section>.contents>.content:hover {
    background-color: rgba(211, 211, 211,0.3);
}
.homepage>.mainContent>.editors>.section>.contents>.content>.userDetails {
    display: flex;align-items: center;
}
.homepage>.mainContent>.editors>.section>.contents>.content>.userDetails>.userPhoto {
    width: 28px; margin-right: 15px;
}
.homepage>.mainContent>.editors>.section>.contents>.content>.delete {
    width: 14px;cursor: pointer;
}


@media (max-width: 1430px) {
    .homepage>.mainContent>.editors>.section>.contents>.content {
        width: 43%;
    }
}

@media (max-width: 1230px){
	.homepage>.mainContent {
        flex-direction: column;
    }
    .homepage>.mainContent>.menu {
        flex-direction: row;justify-content: space-between;margin-left: 0;
    }
    .homepage>.mainContent>.menu>.item {
        margin-right: 15px;
    }
    .homepage>.mainContent>.notifications,
    .homepage>.mainContent>.boardLists,
    .homepage>.mainContent>.editors {
        width: 100%; margin: 20px 0 0 0;
    }
    .homepage>.mainContent>.editors>.section>.contents>.content {
        width: 45%;
    }
}

@media (min-width: 751px) and (max-width: 860px) {
    .homepage>.mainContent>.menu {
        justify-content: space-between; margin-left: 0; font-size: 14px;
    }
    .homepage>.mainContent>.menu>.item {
        margin-right: 8px;
    }
    .homepage>.mainContent>.menu>a .readBoard, 
    .homepage>.mainContent>.menu>a .readNotice, 
    .homepage>.mainContent>.menu>a .readEditor {
        padding: 0 20px 0 20px;
    }
    .homepage>.mainContent>.editors>.section>.contents>.content {
        width: 100%;
    }
    .homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts {
        display: none;
    }
}

@media (min-width: 651px) and (max-width: 750px) {
    .homepage>.mainContent>.editors>.section>.contents>.content {
        width: 100%;
    }
    .homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts {
        display: none;
    }
}

@media  (min-width: 451px) and (max-width: 650px) {
    .homepage {
        width: 90%;
    }
    .homepage>.mainContent>.menu {
        justify-content: space-between; margin-left: 0; font-size: 14px;
    }
    .homepage>.mainContent>.menu>.item {
        margin-right: 8px;
    }
    .homepage>.mainContent>.menu>a .readBoard, 
    .homepage>.mainContent>.menu>a .readNotice, 
    .homepage>.mainContent>.menu>a .readEditor {
        padding: 0 20px 0 20px;
    }
    .homepage>.mainContent>.editors>.section>.contents>.content {
        width: 100%;
    }
    .homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts {
        display: none;
    }
}

@media (min-width: 391px) and (max-width: 450px) {
    .homepage {
        width: 90%; margin: -90px auto 0px auto;
    }
    #root>.topBar>.logoDiv {
        position: unset;
    }
    .homepage>.profile>.details {
        padding: 0 0 5px 20px;
    }
    .homepage>.mainContent>.menu>a .readBoard, 
    .homepage>.mainContent>.menu>a .readNotice, 
    .homepage>.mainContent>.menu>a .readEditor {
        padding: 0 10px 0 10px;
    }
    .homepage>.mainContent>.editors>.section>.contents>.content {
        width: 100%;
    }
    .homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts {
        display: none;
    }
}

@media (min-width: 360px) and (max-width: 390px) {
    .homepage {
        width: 90%; margin: -60px auto 0px auto;
    }
    #root>.topBar>.logoDiv {
        position: unset;
    }
    .homepage>.profile>.details {
        padding: 0 0 5px 20px;
    }
    .homepage>.mainContent>.menu>a .readBoard, 
    .homepage>.mainContent>.menu>a .readNotice, 
    .homepage>.mainContent>.menu>a .readEditor {
        padding: 0 5px;
    }
    .homepage>.mainContent>.editors>.section>.contents>.content {
        width: 100%;
    }
    .homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts {
        display: none;
    }
}

