body, html {
    margin:0px; height: 100%; font-family: Microsoft JhengHei;
}

main {
    position: absolute;top: 0px; left: 0px; right: 0px; bottom: 0px; width: auto; height: auto; 
    background-size: 100% auto; opacity: 1;
}

main>.loading {
    position: absolute;top: 0px; left: 0px; right: 0px; bottom: 0px; width: auto; height: auto;background-color: white;z-index: 10;
}

main>.loading img{
    width: 500px;  position: absolute;top: calc(50% - 187.5px); left: calc(50% - 250px);
}

main> .view {
    display: flex; flex-direction: column; height: 100vh;
} 

img {
    width: 100%;
}

.topBar {
    display: flex; background-color: rgba(0,0,0,.32); justify-content: space-between;  flex-wrap: wrap; padding: 5px 5px 0px 5px;height: 38px;
}


.view>.topBar>.logoDiv {
    width: 90px; height: 32px; position: absolute; left: calc(50% - 45px);
}
.view>.topBar>.logoDiv img{
    margin-top: -8px;
}

.view>.topBar>.topLeft,
.view>.topBar>.topRight,
.view>.secondBar>.secondLeft,
.view>.secondBar>.secondRight {
    display: flex; margin: 3px; flex-wrap: wrap; align-items: center;
}

.view>.topBar>.topLeft>.searchBar input {
    height: 23px; border-radius: 20px; border: 1px solid white; background: url("../images/magnifying-glass.png") no-repeat calc(100% - 12px) calc(100% - 4px) 
}

.view>.topBar>.topRight>.boardList {
    position: relative;
}

.view>.topBar>.topRight>.boardList>.boardIcon,
.view>.topBar>.topRight>.signOutImg,
/* .view>.topBar>.topRight>.boardList>.alert, */
.view>.topBar>.topLeft>.home {
    width: 18px; background-color:hsla(0,0%,100%,.3); display: flex;align-items: center;justify-content: center; border-radius: 3px; padding: 0 10px; height: 32px;
}

.alert {
    width: 18px; background-color:hsla(0,0%,100%,.3); display: flex;align-items: center;justify-content: center; border-radius: 3px; padding: 0 10px; height: 32px; position: relative;
}
.alert:hover {
    background-color:hsla(0,0%,100%,.6);
}
.alert img {
    width: 22px;
}

/* CSS for top bar */
.view>.topBar>.topRight>.boardList>.boardIcon:hover ,
.view>.topBar>.topRight>.signOutImg:hover ,
.view>.topBar>.topLeft>.home:hover {
    background-color:hsla(0,0%,100%,.6);
}

.view>.topBar>.topRight>.boardList>.boardIcon img,
.view>.topBar>.topRight>.signOutImg img,
.view>.topBar>.topLeft>.home img {
    width: 22px; height: 22px; cursor: pointer;
}
.view>.topBar>.topRight>.memberIcon a,
.view>.topBar>.topRight>.boardList>.boardIcon a,
.view>.topBar>.topLeft>.home a{
    display: flex;
}
.alert>.alertMsg {
    border-radius: 100%; background-color: rgba(250,0,0,0.9); width: 16px;height: 16px;position: absolute;right: -2px;top: -1px;text-align: center;color: white;line-height: 16px; padding: 1px;
}
.view>.topBar>.topRight>.alertDiv>.alertMenu {
    width: 150px;border-radius: 3px;background-color: rgba(0,0,0,0.6);z-index: 50;
}

.view>.topBar>.topRight>.alertMenu li{
    background-color: rgba(0,0,0,0.6);color: white; font-size: 13px; padding: 3px 8px 3px 8px;list-style:none;
}
.view>.topBar>.topRight>.alertMenu li:hover{
    background-color: rgba(0,0,0,0.8);
}

.view>.topBar>.topRight>.memberIcon{
    width: 32px; height: 32px; cursor: pointer;
}

.view>.topBar>.topRight>.memberIcon img {
    width: 32px; height: 32px; 
}

.view>.secondBar>.secondRight>.addBoard {
    width: 18px; cursor: pointer; background-color: hsla(0,0%,100%,.24); align-items: center; display: flex; border-radius: 3px; padding: 0 10px; height: 30px;cursor: pointer;
}

.view>.secondBar>.secondRight>.addBoard:hover {
    background-color: hsla(0,0%,100%,.6)
}

.view>.topBar>.topRight>.memberIcon img,
.view>.secondBar>.secondLeft img,
.view>.secondBar>.secondRight img,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList>.editTag img,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList>.editText img,
.homepage>.boardLists>.section>.bars>.sanckbar>.msg>.imgDiv img {
    border-radius: 100%;
}

.view>.topBar>.topRight>.memberIcon,
.view>.topBar>.topRight>.boardList {
     margin-right: 8px;
}


/* CSS for second bar */
.view>.secondBar {
    display: flex; justify-content: space-between; flex-wrap: wrap; padding: 0 5px; background: rgba(0,0,0,.24);
}

.view>.secondBar>.secondLeft>.inviteDiv {
    color: white; background-color: hsla(0,0%,100%,.24);border-radius: 3px;padding: 0 10px;height: 30px; line-height: 30px;font-size: 14px;font-weight: bold; cursor: pointer;
}
.view>.secondBar>.secondLeft>.inviteDiv:hover {
    background-color: hsla(0,0%,100%,.6);
}
.view>.secondBar>.secondLeft>.invite {
    display: flex; flex-direction: column; text-align: center;background-color: rgb(235, 236, 240, 0.97);padding: 10px 30px 20px 30px; border-radius: 4px; z-index: 3;
    box-shadow: 0 5px 3px rgba(9,30,66,.25); border: 9px solid rgb(182, 186, 200, 0.5)
}

.view>.secondBar>.secondLeft>.invite>.inputDiv {
    display: flex; margin-top: 5px;
}

.view>.secondBar>.secondLeft>.invite>.inputDiv>.mailDiv {
    width: 25px; margin-right: 10px;
}
.view>.secondBar>.secondLeft>.invite>.inputDiv>.mailDiv img{
    width: 25px; margin-right: 10px; border-radius: unset;
}

.view>.secondBar>.secondLeft>.invite p {
    margin: 16px 0 16px 0; border-bottom: 1px solid grey; padding-bottom: 5px;color: rgb(23, 43, 77);font-weight: bold;
}

.view>.secondBar>.secondLeft>.invite input{
    border-radius: 6px; padding-left: 10px; height: 23px;border: 1px solid rgb(235, 236, 240, 0.97);
}

.view>.secondBar>.secondLeft>.invite>.cancel {
    position: absolute; right: 7px;
}

.view>.secondBar>.secondLeft>.invite>.cancel>.cancelImg{
    width: 16px; cursor: pointer;
}

/* CSS for board */
.view>.board {
    box-sizing: border-box; display: flex;overflow: scroll;overflow-y:auto;height: calc(100vh - 84px); flex-grow:1; opacity: 0.95;
}

.view>.board>.sectionWrapper{
    scroll-snap-align: center;box-sizing: border-box;
}

.view>.board>.sectionWrapper>.section {
    color: black;width: 270px;background-color: #ebecf0;border-radius: 3px;padding:4px;margin: 0 4px;display: inline-flex;max-height: 95%;flex-direction: column;
}
.view>.board>.sectionWrapper>.section>.dragArea {
    min-height: 12px;cursor: pointer;
}
.view>.board>.sectionWrapper>.section>.head {
    display: flex;justify-content: space-between;margin:0 3px 6px 3px;align-items: center;background-color:#ebecf0;border-radius: 5px;color: #172b4d;font-weight: bold;
}

.view>.board>.sectionWrapper>.section>.head>.titleRight {
    width: 16px;cursor: pointer;
}
.view>.board>.sectionWrapper>.section>.head>.titleLeft {
    max-width: 265px; word-break: break-all;
}

.view>.board>.sectionWrapper>.section>.head>.titleLeftInput {
    height: 21px; border-radius: 5px; border-style: none; padding-left: 5px;width: 100%; margin-right: 4px;
}

.view>.board>.sectionWrapper>.section>.comment>.item{
    margin:3px 3px 6px 3px; background-color: #fff;border-radius: 5px;box-shadow: 0 1px 0 rgba(9,30,66,.25);
}
.view>.board>.sectionWrapper>.section>.comment>.item:hover {
    background-color: rgba(242,240,240);
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemDragArea{
    min-height: 13px; cursor: pointer;
}
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead {
    display: flex; margin: 0 2px; position: relative; 
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv {
    position: absolute; top: 0px; right: 0px;width: 30px; height: 30px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.showMenuBackground {    
    position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; background-color: rgba(0,0,0,0.6);z-index: 5;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu {
    z-index: 10;display: flex; flex-direction: column;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuLeft {
    margin-right: 10px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuLeft textarea{
    height: 150px; max-height: 200px; width: 290px;margin: 3px 0 13px 0;border-radius: 3px;resize: none;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuLeft div{
    position: relative; width: 50px; text-align: center; margin-bottom: 5px; color: white; background-color: rgba(0,0,0,0.55);padding: 5px;border-radius: 3px; cursor: pointer;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuLeft div:hover {
    margin-top: 2px; margin-left: 2px;  position: relative; transition :0.05s; background-color: rgba(0,0,0,0.85)
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.tagImgDiv {
    width: 14px;height: 14px; line-height: 14px; padding: 5px; background-color: rgba(232,227,227,1); border-radius: 4px; cursor: pointer;
}
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight {
    margin-top: 3px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList {
    position: relative; display: flex; margin-bottom: 5px; color: white; background-color: rgba(0,0,0,0.55); padding: 5px; width: 100px;border-radius: 3px;font-size: 15px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList:hover {
    margin-left: 7px;  position: relative; transition :0.05s; background-color: rgba(0,0,0,0.85); 
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList>.editTag,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList>.editText,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList>.setTime,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList>.deleteText {
    width:16px; height: 16px; margin-right: 10px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.deleteDiv,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.tags>.tag {
    cursor: pointer;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody,
.tags {
    display: flex; flex-wrap: wrap;
}
.tag {
    margin: 5px 0 5px 5px;border-radius: 4px;font-size: 12px;padding: 1px 5px;font-weight: bold;color: white;font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubun;
    width: 57px; height: 15px; transition: width 0.5s, height 0.1s; overflow: hidden;line-height: 15px;cursor: pointer;text-overflow: ellipsis;
}

.tagBrightness:hover {
    filter: brightness(.9);
}
/*  comment menu tags */
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.tags>.tag:active {
    position: relative;  bottom: 1px; 
}

/* board tags */
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tags>.tag:active{  
    position: relative;  bottom: 1px; 
}

.planning {
    background-color: #ff9f1a;
}
.process {
    background-color: #00c2e0;
}
.risk {
    background-color: #eb5a46;
}
.achived {
    background-color: #4bbf6b;
}
.view>.board>.sectionWrapper>.section>.comment {
   overflow-y: auto; 
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemBody {
    display: flex; margin:3px 5px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemBody>.message>.msgText {
    word-break: break-all; white-space:pre-line; margin-bottom: 3px;width: 250px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemBody>.message>.msgImg {
    max-width: 250px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemBody>.featureDiv {
    display: flex;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemBody>.featureDiv>.feature {
    display: flex; flex-direction: column; justify-content: space-between;margin: 2px 2px 0px 8px;height: 100%;
}
.view>.board>.sectionWrapper>.section>.comment>.item>.itemBody>.featureDiv>.feature>.edit,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemBody>.featureDiv>.feature>.trashcan,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemFooter>.addItemIcon{
    width: 18px;
}

.view>.board>.sectionWrapper>.section>.addItem {
    display: flex; flex-direction: column; margin: 20px 5px 2px 5px;background-color: rgba(255, 255, 251, 0.45); border-radius: 10px;text-align: center;
}
.view>.board>.sectionWrapper>.section>.addItem textarea{
    height: 70px; width: 94%;resize: none;
}
.view>.board>.sectionWrapper>.section>.addItem>.tags {
    display: flex;
}
.view>.board>.sectionWrapper>.section>.addItem>.tags>.tag{
    width: 49px; font-size: 10px;
}
.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter {
    display: flex; flex-direction: column; margin: 2px 5px 5px 2px;
}
.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2{
    display: flex; justify-content: space-between;
}
.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2>.imgUploadDiv{
    display: flex;
}

.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2>.imgUploadDiv label>.imgUpload {
    width: 24px; margin: 5px 0 0 5px;cursor: pointer;
}
.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2>.imgUploadDiv>.fileNameDiv {
    width: 100px; margin: 5px 0 0 5px; font-size: 10px;
}

.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2>.addItemFeature {
    display: flex; margin: 2px 5px 5px 2px;
}
.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2>.addItemFeature{
    display: flex; justify-content: flex-end;
}
.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2>.addItemFeature>.addComment,
.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2>.addItemFeature>.cancel {
    width: 24px;margin-left: 20px;cursor: pointer;
}

.view>.board>.sectionWrapper>.section>.itemFooter {
    display: flex; margin: 10px 0 0 10px;
}
.view>.board>.sectionWrapper>.section>.itemFooter>.add {
    width: 16px;cursor: pointer;
}

footer>.footerBar {
    background-color: black;color: white; text-align: center; line-height: 30px; box-sizing: border-box; position: absolute; bottom: 0; width: 100%;
}

::-webkit-scrollbar {
    width: 8px; height: 8px;
}
/* 內層軌道 */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2); border-radius: 10px;
}
/* 可拖曳長條 */
::-webkit-scrollbar-thumb {
    border-radius: 10px; background: rgba(55,55,55,0.3); 
}
.comment::-webkit-scrollbar-thumb {
    border-radius: 10px; background: rgba(154,152,159,0.3); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(55,55,55,0.5);
}
.comment::-webkit-scrollbar-thumb:hover {
    background: rgba(120,125,123,0.3); 
}

/* CSS for add theme & delete theme pop-up window */
.addThemeDiv {
    position: absolute; top: 30%; left: calc(50% - 120px); text-align: center; background-color: rgb(235, 236, 240, 0.97);  padding: 20px 35px 20px 35px; border-radius: 4px; z-index: 5;
    box-shadow: 0 5px 3px rgba(9,30,66,.25); border: 9px solid rgb(182, 186, 200, 0.5);
}

.addThemeDiv>.addTheme p {
    margin: 0 0 16px 0; font-weight: bold;
}

.addThemeDiv>.addTheme input {
    border-radius: 6px; padding-left: 10px; height: 23px; border:1px solid rgb(235, 236, 240, 0.97);
}

.addThemeDiv>.addTheme>.buttons {
    display: flex; justify-content: space-around; margin-top: 25px;
}

.addThemeDiv>.addTheme>.buttons div {
    background-color: rgb(182, 186, 200, 0.5); width: 50px; border-radius: 6px; cursor: pointer;font-size: 14px; padding: 5px 7px;
}

.addThemeDiv>.addTheme>.buttons>.yes {
    background-color: white;
}

/* CSS for board page background image upload */
.uploadBackground {
    position: absolute; bottom: 10px; right: 10px; width: 18px;cursor: pointer;padding: 5px;
}
.uploadBackground:hover {
    background-color: hsla(0,0%,100%,.4);border-radius: 3px;
}

@media (min-width: 451px) and (max-width:700px) {
    main>.loading img{
        width: 400px;  position: absolute;top: calc(50% - 150px); left: calc(50% - 200px);
    }
    .view>.topBar>.logoDiv {
        position: unset;
    }
}

@media (min-width: 360px) and (max-width: 450px) {
    .view>.topBar>.logoDiv {
        position: unset;
    }
    main>.loading img{
        width: 320px;  position: absolute;top: calc(50% - 120px); left: calc(50% - 160px);
    }
}