@import url(https://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:700,400,300);

body, html{
    margin:0px; height: 100%; font-family: Microsoft JhengHei;
}

main {  /*   原本是 body */
    position: absolute;top: 0px; left: 0px; right: 0px; bottom: 0px; width: auto; height: auto; 
    background-size: 100% auto; opacity: 1;
}
/*  */

main>.loading {
    position: absolute;top: 0px; left: 0px; right: 0px; bottom: 0px; width: auto; height: auto;background-color: white;z-index: 10;
}

main>.loading img{
    width: 500px;  position: absolute;top: calc(50% - 187.5px); left: calc(50% - 250px);
}

main> .view {
    display: flex; flex-direction: column; height: 100vh;
} 

img {
    width: 100%;
}

.topBar {
    display: flex; background-color: rgba(0,0,0,.32);justify-content: space-between;flex-wrap: wrap;padding: 5px 5px 0px 5px;
}
/* max-height: 43px;  */
.view>.secondBar {
    display: flex; justify-content: space-between;flex-wrap: wrap;padding: 0 5px 0px 5px;background: rgba(0,0,0,.24);
}

.view>.topBar>.logoDiv {
    width: 90px; height: 32px; position: absolute; left: calc(50% - 45px);
}
.view>.topBar>.logoDiv img{
    margin-top: -10px;
}
.view>.topBar>.topRight {
    position: relative;
}
.view>.topBar>.topLeft,
.view>.topBar>.topRight,
.view>.secondBar>.secondLeft,
.view>.secondBar>.secondRight {
    display: flex;margin: 3px;flex-wrap: wrap;align-items: center;
}

.view>.topBar>.topLeft>.searchBar input {
    height: 23px; border-radius: 20px; border: 1px solid white; background: url("../images/magnifying-glass.png") no-repeat calc(100% - 12px) calc(100% - 4px) 
}

.view>.topBar>.topRight>.boardList {
    position: relative;
}

.view>.topBar>.topRight>.boardList>.boardIcon,
.view>.topBar>.topRight>.signOutImg,
.view>.topBar>.topRight>.boardList>.alert,
.view>.topBar>.topLeft>.home {
    width: 18px; background-color:hsla(0,0%,100%,.3); display: flex;align-items: center;justify-content: center; border-radius: 3px; padding: 0 10px; height: 32px;
}

.view>.topBar>.topRight>.boardList>.boardIcon img,
.view>.topBar>.topRight>.signOutImg img,
.view>.topBar>.topRight>.boardList>.alert img,
.view>.topBar>.topLeft>.home img {
    width: 22px;
}
.view>.topBar>.topRight>.boardList>.alert>.alertMsg {
    border-radius: 100%; background-color: rgba(250,0,0,0.9); width: 16px;height: 16px;position: absolute;right: 2px;top: 1px;text-align: center;color: white;line-height: 16px; padding: 1px;
}
.view>.topBar>.topRight>.alertMenu {
    width: 150px;border-radius: 3px;
}
.view>.topBar>.topRight>.alertMenu>.showMenuBackground {
    position: fixed; top: 0; right: 0;left: 0;bottom: 0;z-index: 2;
}
.view>.topBar>.topRight>.alertMenu li{
    background-color: rgba(0,0,0,0.6);color: white; font-size: 13px; padding: 3px 8px 3px 8px;z-index: 5;list-style:none;z-index: 5;
}
.view>.topBar>.topRight>.alertMenu li:hover{
    background-color: rgba(0,0,0,0.8);
}

.view>.topBar>.topRight>.memberIcon{
    width: 32px;
}
.view>.secondBar>.secondRight>.addBoard {
    width: 18px; cursor: crosshair; background-color: hsla(0,0%,100%,.24); align-items: center; display: flex; border-radius: 3px; padding: 0 10px; height: 30px;
}

.view>.topBar>.topRight>.memberIcon img,
.view>.secondBar>.secondLeft img,
.view>.secondBar>.secondRight img,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList>.editTag img,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList>.editText img,
.homepage>.boardLists>.section>.bars>.sanckbar>.msg>.imgDiv img {
    border-radius: 100%;
}

.view>.topBar>.topRight>.memberIcon,
.view>.topBar>.topRight>.boardList {
     margin-right: 8px;
}

.view>.secondBar>.secondLeft>.inviteDiv {
    color: white; background-color: hsla(0,0%,100%,.24);border-radius: 3px;padding: 0 10px;height: 30px; line-height: 30px;font-size: 14px;
}

.view>.secondBar>.secondLeft>.invite {
    display: flex; flex-direction: column; text-align: center; background-color:  rgba(67, 67, 67, 0.9); padding: 10px 15px 10px 15px; border-radius: 3px; z-index: 3;
}
.view>.secondBar>.secondLeft>.invite>.inputDiv {
    display: flex; margin-top: 5px;
}
.view>.secondBar>.secondLeft>.invite>.inputDiv>.mailDiv {
    width: 25px; margin-right: 10px;
}
.view>.secondBar>.secondLeft>.invite>.inputDiv>.mailDiv img{
    width: 25px; margin-right: 10px; border-radius: unset;
}
.view>.secondBar>.secondLeft>.invite p {
    margin: 0 0 16px 0; border-bottom: 1px solid grey; padding-bottom: 5px;color: white;
}
.view>.secondBar>.secondLeft>.invite input{
    border-radius: 3px; padding-left: 10px; height: 18px;
}
.view>.secondBar>.secondLeft>.invite>.cancel {
    display: flex; flex-direction: row-reverse;
}
.view>.secondBar>.secondLeft>.invite>.cancel>.cancelImg{
    width: 20px; 
}

.view>.board {
    box-sizing: border-box; display: flex;overflow: scroll;overflow-y:auto;height: calc(100vh - 84px);flex-grow:1;opacity: 0.95;
}

.view>.board>.sectionWrapper{
    scroll-snap-align: center;box-sizing: border-box;
}

.view>.board>.sectionWrapper>.mark {
    width: 275px;
}

.view>.board>.sectionWrapper>.section {
    color: black;width: 270px;background-color: #ebecf0;border-radius: 3px;padding:4px;margin: 0 4px;display: inline-flex;max-height: 95%;flex-direction: column;
}
.view>.board>.sectionWrapper>.section>.dragArea {
    min-height: 12px;cursor: pointer;
}
.view>.board>.sectionWrapper>.section>.head {
    display: flex;justify-content: space-between;margin:0 3px 6px 3px;align-items: center;background-color:#ebecf0;border-radius: 5px;color: #172b4d;font-weight: bold;
}

.view>.board>.sectionWrapper>.section>.head>.titleRight {
    width: 16px;
}
.view>.board>.sectionWrapper>.section>.head>.titleLeft {
    max-width: 265px; word-break: break-all;
}

.view>.board>.sectionWrapper>.section>.head>.titleLeftInput {
    height: 21px; border-radius: 5px; border-style: none; padding-left: 5px;width: 100%; margin-right: 4px;
}

.view>.board>.sectionWrapper>.section>.comment>.item{
    margin:3px 3px 6px 3px; background-color: #fff;border-radius: 5px;box-shadow: 0 1px 0 rgba(9,30,66,.25);
}
.view>.board>.sectionWrapper>.section>.comment>.item:hover {
    background-color: rgba(55,55,55,0.1);
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemPointer{
    min-height: 15px;cursor: pointer;
}
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead {
    display: flex; margin: 0 2px; position: relative; 
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv {
    position: absolute; top: 5px; right: 5px;width: 14px; height: 14px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.showMenuBackground {    
    position: fixed; top: 0px; left: 0px; right: 0px; bottom: 0px; background-color: rgba(0,0,0,0.6);z-index: 5;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu {
    z-index: 10;display: flex; flex-direction: column;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuLeft {
    margin-right: 10px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuLeft textarea{
    height: 150px; max-height: 200px; width: 270px;margin: 3px 0 13px 0;border-radius: 3px;resize: none;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuLeft div{
    position: relative; width: 50px; text-align: center; margin-bottom: 5px; color: white; background-color: rgba(0,0,0,0.55);padding: 5px;border-radius: 3px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuLeft div:hover {
    margin-top: 2px; margin-left: 2px;  position: relative; transition :0.05s; background-color: rgba(0,0,0,0.85)
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.tagImgDiv {
    width: 14px;height: 14px; position: absolute; top: 5px; right: 5px;
}
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight {
    margin-top: 3px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList {
    position: relative; display: flex; margin-bottom: 5px; color: white; background-color: rgba(0,0,0,0.55); padding: 5px; width: 100px;border-radius: 3px;font-size: 15px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList:hover {
    margin-left: 7px;  position: relative; transition :0.05s; background-color: rgba(0,0,0,0.85); 
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList>.editTag,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList>.editText,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList>.setTime,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody>.menuRight>.menuList>.deleteText {
    width:16px; height: 16px; margin-right: 10px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.menuBody,
.tags {
    display: flex; flex-wrap: wrap;
}
.tag {
    margin: 5px 0 5px 5px;border-radius: 4px;font-size: 12px;padding: 1px 5px;font-weight: bold;color: white;font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Noto Sans,Ubun;
}
/*  comment menu tags */
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tagDiv>.commentMenu>.tags>.tag:active {
    position: relative;  bottom: 1px; 
}

/* board tags */
.view>.board>.sectionWrapper>.section>.comment>.item>.itemHead>.tags>.tag:active{  
    position: relative;  bottom: 1px; 
}

.planning {
    background-color: rgba(204 ,94, 28, 0.8);
}
.process {
    background-color: rgba(46 ,169, 223, 0.8);
}
.risk {
    background-color: rgba(215 ,84, 85, 0.8);
}
.achived {
    background-color: rgba(123 ,162, 63, 0.8);
}
.view>.board>.sectionWrapper>.section>.comment {
   overflow-y: auto; 
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemBody {
    display: flex;margin:3px 5px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemBody>.message>.msgText {
    word-break: break-all; white-space:pre-line; margin-bottom: 3px;width: 250px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemBody>.message>.msgImg {
    max-width: 250px;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemBody>.featureDiv {
    display: flex;
}

.view>.board>.sectionWrapper>.section>.comment>.item>.itemBody>.featureDiv>.feature {
    display: flex; flex-direction: column; justify-content: space-between;margin: 2px 2px 0px 8px;height: 100%;
}
.view>.board>.sectionWrapper>.section>.comment>.item>.itemBody>.featureDiv>.feature>.edit,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemBody>.featureDiv>.feature>.trashcan,
.view>.board>.sectionWrapper>.section>.comment>.item>.itemFooter>.addItemIcon{
    width: 18px;
}

.view>.board>.sectionWrapper>.section>.addItem {
    display: flex; flex-direction: column; margin: 20px 5px 2px 5px;background-color: rgba(255, 255, 251, 0.45); border-radius: 10px;text-align: center;
}
.view>.board>.sectionWrapper>.section>.addItem textarea{
    height: 70px; width: 94%;resize: none;
}
.view>.board>.sectionWrapper>.section>.addItem>.tags {
    display: flex;
}
.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter {
    display: flex; flex-direction: column; margin: 2px 5px 5px 2px;
}
.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2{
    display: flex; justify-content: space-between;
}
.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2>.imgUploadDiv{
    display: flex;
}

.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2>.imgUploadDiv label>.imgUpload {
    width: 24px; margin: 5px 0 0 5px;
}
.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2>.imgUploadDiv>.fileNameDiv {
    width: 100px; margin: 5px 0 0 5px; font-size: 10px;
}

.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2>.addItemFeature {
    display: flex; margin: 2px 5px 5px 2px;
}
.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2>.addItemFeature{
    display: flex; justify-content: flex-end;
}
.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2>.addItemFeature>.addComment,
.view>.board>.sectionWrapper>.section>.addItem>.addItemFooter>.addItemFooter2>.addItemFeature>.cancel {
    width: 24px;margin-left: 20px;
}

.view>.board>.sectionWrapper>.section>.itemFooter {
    display: flex; margin: 10px 0 0 10px;
}
.view>.board>.sectionWrapper>.section>.itemFooter>.add {
    width: 16px;
}

footer>.footerBar {
    background-color: black;color: white; text-align: center; line-height: 30px; box-sizing: border-box; position: absolute; bottom: 0; width: 100%;
}

::-webkit-scrollbar {
    width: 8px; height: 8px;
}
/* 內層軌道 */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0,0,0,0.2); border-radius: 10px;
}
/* 可拖曳長條 */
::-webkit-scrollbar-thumb {
    border-radius: 10px; background: rgba(55,55,55,0.3); 
}
.comment::-webkit-scrollbar-thumb {
    border-radius: 10px; background: rgba(154,152,159,0.3); 
}
::-webkit-scrollbar-thumb:hover {
    background: rgba(55,55,55,0.5);
}
.comment::-webkit-scrollbar-thumb:hover {
    background: rgba(120,125,123,0.3); 
}
/* ::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
} */


/* CSS for add theme & delete theme div */
.addThemeDiv {
    position: absolute; top: 30%; left: calc(50% - 120px); text-align: center; background-color: rgba(255,255,255,0.9);  padding: 20px 35px 20px 35px; border-radius: 10px; z-index: 3;
}

.addThemeDiv>.addTheme p {
    margin: 0 0 16px 0;
}

.addThemeDiv>.addTheme input {
    border-radius: 6px; padding-left: 10px; height: 22px;
}

.addThemeDiv>.addTheme>.buttons {
    display: flex; justify-content: space-around; margin-top: 25px;
}

.addThemeDiv>.addTheme>.buttons div {
    background-color: rgba(120,125,123,0.4); width: 50px; border-radius: 6px; padding: 3px 0 3px 0; cursor: crosshair;
}


/* CSS for login page */

/* .login-page {
    display: flex; flex-direction: column;
}

.login-page>.login-topBar {
    background-color: rgba(0, 146, 199, 1)
}
.login-page>.login-topBar,
.login-page>.login-topBar>.topBar-Right,
.login-page>.login-topBar>.topBar-Left {
    display: flex; justify-content: space-between;z-index: 2;align-items: center; text-align: center;
}

.login-page>.login-topBar>.topBar-Left>.logoDiv {
    width: 48px;
}
.login-page>.login-topBar>.topBar-Right>.guide {
    width: 90px; height: 36px; color: rgba(0, 146, 199, 1);background-color:white;border-radius: 10px;font-weight: bold;font-size: 20px;line-height: 36px;margin-right: 20px;
}

.login-page>.login-topBar>.topBar-Right>.regist {
    width: 100px; height: 46px; color: white; border-radius: 10px;font-weight: bold;font-size: 20px;line-height: 46px;margin-right: 20px;
}

.login-page>.login-topBar>.topBar-Right>.regist:hover {
    background-color:rgba(255, 255, 255, 0.7); color: rgba(0, 146, 199, 1);
}

.login-page>.login-topBar>.topBar-Right>.login {
    width: 100px; height: 46px; color: rgba(0, 146, 199, 1);background-color:white;border-radius: 10px;font-weight: bold;font-size: 20px;line-height: 46px;margin-right: 20px;
}


.login-page>.login-background {
    background-color: rgba(0, 146, 199, 1);padding: 20px 0 20px 0;
}
.login-page>.login-background>.login-main {
    display: flex;position: relative;justify-content: space-around;z-index: 1;height: 100%;
}
.login-page>.login-background>.login-main>.login-content {
     display: flex; flex-direction: column-reverse; margin: 0 0 3.5% 3%;
}
.login-page>.login-background>.login-main>.login-img {
    width: 50%; 
}
/* .login-page>.login-background>.login-main>.login-img>img {
    box-shadow: 0 5px 15px 0 lightgray
} */
/* .login-page>.login-background>.login-main>.login-content>.signinArea {
    margin-top: 2%;transition: 0.5s 0.5s cubic-bezier(0.25,0.1,0.25,1);max-width: 400px; display: flex; align-items: center; flex-direction: column;
}

.login-page>.login-content {
    display: flex; flex-direction: column; width: 70%; margin: 0 auto;
}
.login-page>.login-content>.section {
    display: flex; justify-content: space-between; margin-top: 50px;align-items: center;
}
.login-page>.login-content>.section>.picture {
    width: 50%;
}
.login-page>.login-content>.section>.text {
    max-width: 500px;margin: 0 30px 0 30px; font-size: 20px;
}

.login-page>.login-footer {
    background-color: rgba(0, 146, 199, 1); color: white; height: 50px;margin-top: 50px; text-align: center;line-height: 50px;
}


#standard-textarea-a,
#standard-textarea-b,
#standard-textarea-c,
#standard-textarea-d {
    color: white;max-height: 18px;
}

.login-page>.login-background>.login-main>.login-content>.signinArea>.login {
    display: flex;flex-direction: column;width: 350px;transition: 0.5s 0.5s cubic-bezier(0.25,0.1,0.25,1);
}
.login-page>.login-background>.login-main>.login-content>.signinArea>.signup{
    display: flex;flex-direction: column;width: 350px;transition: 0.5s 0.5s cubic-bezier(0.25,0.1,0.25,1);
}

.login-page>.login-background>.login-main>.login-content>.signinArea>.signup>.errmsg ,
.login-page>.login-background>.login-main>.login-content>.signinArea>.login>.errmsg {
    height: 0px;color: rgba(255, 71, 26);font-weight: bold;
}
.login-page>.login-background>.login-main>.login-content>.signinArea>.signup>.rigister-div{
    display: flex;align-items: center;justify-content: flex-end;
}
.login-page>.login-background>.login-main>.login-content>.signinArea>.login>.login-div {
    display: flex;align-items: center;justify-content: space-between;
}
.login-page>.login-background>.login-main>.login-content>.signinArea>.signup>.rigister-div>.rigister-img,
.login-page>.login-background>.login-main>.login-content>.signinArea>.login>.login-div>.login-img{
    width: 48px;
}

.login-page>.login-background>.login-main>.login-content>.textContent {
    max-width: 400px; display: flex;flex-direction: column-reverse;
}
.login-page>.login-background>.login-main>.login-content>.textContent>.slogan p>.webName {
    display: inline-block;font-size: 7vh;
}

.login-page>.login-background>.login-main>.login-content>.textContent>.slogan p{
    color: white; font-weight: bolder;font-size: 34px;margin:5px auto;
}
.login-page>.login-background>.login-main>.login-content>.textContent>.details {
    max-width: 400px; text-align: left; 
}
.login-page>.login-background>.login-main>.login-content>.textContent>.details p{
    color: white; font-weight: bolder;font-size: 15px;
}

.login-page>.login-background>.login-main>.login-content>.buttons {
    display: flex; justify-content: space-between; max-width: 400px;
}


.login-page>.login-background>.login-main>.login-content>.signinArea>.signup input {
	width: 180px; height: 40px;background: #fff; border: 1px solid #fff; border-radius: 2px;color: #a18d6c; font-family: Lucida Console; font-size: 16px;padding: 5px;margin: 30px 30px 0px 0 ;
}

.registerButton {
    padding: 10px 25px;
    position: relative;
    color: #fff;
}

.registerButton::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 5px;
    right: 5px;
    background-color: rgb(235, 186, 82);
    z-index: -1;
    transition: transform .2s ease-in-out;
}

.registerButton::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #474E51;
}

.registerButton:hover::before {
    transform: translate(6px, -4px);
}

.loginButton {
    padding: 10px 25px;
    position: relative;
    color: #fff;
}

.loginButton::before {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 5px;
    right: 5px;
    background-color: rgb(235, 186, 82);
    z-index: -1;
    transition: transform .2s ease-in-out;
}

.loginButton::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 1px solid #474E51;
}

.loginButton:hover::before {
    transform: translate(6px, -4px);
} */ 




/* font-family: Lucida Console */

/* CSS for google login bar */


/* CSS for home page */
/* #root>.homebackground {
    position: relative; opacity: 1;height: 280px;
}

#root>.homebackground>.imgUpload {
    position: absolute; right: 10px; bottom: 10px; width: 32px; background-color: rgba(0, 0, 0, 0.4); border-radius: 100%;
}

#root>.homebackground>.imgUpload label {
    display: flex; align-items: center;
}

#root>.topBar {
    max-height: 43px; display: flex; background-color:  rgba(70, 65, 89, 0.25); justify-content: space-between;flex-wrap: wrap;padding: 5px 5px 0px 5px; position: absolute;top: 0;left: 0;right: 0;z-index: 2;
}

#root>.topBar>.topLeft,
#root>.topBar>.topRight {
    display: flex;margin: 5px;flex-wrap: wrap;align-items: center;
}

#root>.topBar>.topLeft>.searchBar input {
    display: none; 
}

#root>.topBar>.topRight>.boardList,
#root>.topBar>.topRight>.signOutImg,
#root>.topBar>.topLeft>.home {
    width: 28px;
}

#root>.topBar>.topRight>.memberIcon{
    width: 32px;
}

#root>.topBar>.topRight>.memberIcon img{
    border-radius: 100%;
}
#root>.topBar>.topLeft>.home,
#root>.topBar>.topRight>.memberIcon,
#root>.topBar>.topRight>.boardList {
    margin-right: 20px; 
}

#root>.topBar>.topRight>.boardList {
    position: relative;
}
#root>.topBar>.topRight>.boardList>.alertMsg {
    border-radius: 100%; background-color: rgba(250,0,0,0.9); width: 18px;height: 18px;position: absolute;right: 0px;top: 0px;text-align: center;color: white;padding-bottom: 3px;
}
#root>.topBar>.topRight>.alertMenu {
    width: 150px;border-radius: 3px;background-color: rgba(0,0,0,0.6);
}
#root>.topBar>.topRight>.alertMenu>.showMenuBackground {
    position: fixed; top: 0; right: 0;left: 0;bottom: 0;
}

#root>.topBar>.topRight>.alertMenu li{
    background-color: rgba(0,0,0,0.6);color: white; font-size: 13px; list-style:none;padding: 3px 8px 3px 8px;z-index: 5;list-style:none;
}
#root>.topBar>.topRight>.alertMenu li:hover {
    background-color: rgba(0,0,0,0.8);
}

.homepage {
    display: flex; margin: -105px auto 0px auto; width: 75%; flex-direction: column;
}

.homepage>.profile {
    flex-grow: 0.5; display: flex; z-index: 2;
}

.homepage>.profile>.myImg {
    width: 180px;
}
.homepage>.profile>.myImg img{
    border-radius: 100%;
}
.homepage>.profile>.details {
    display: flex;flex-direction: column-reverse;padding: 0 0 5px 30px;
}
.homepage>.profile>.details>.list>.name {
    font-weight: bolder;font-size: 22px;margin-bottom: 10px;
}


menu */
/* .homepage>.mainContent {
    display: flex; margin-top: 50px;flex-direction: row;
}
.homepage>.mainContent>.menu {
    display: flex; flex-direction: column; margin-left: 15px;
}
.homepage>.mainContent>.menu>.readBoard,
.homepage>.mainContent>.menu>.readNotice,
.homepage>.mainContent>.menu>.list>.listTitle {
    letter-spacing: 5px; height: 40px; border:1px solid rgba(211, 211, 211, 0.6);display: flex; background-color: white;margin-bottom: 10px;padding: 0 35px 0 35px;align-items: center;
}
.homepage>.mainContent>.menu>.readBoard:hover,
.homepage>.mainContent>.menu>.readNotice:hover,
.homepage>.mainContent>.menu>.list>.listTitle:hover,
.homepage>.mainContent>.menu>.readBoard:active,
.homepage>.mainContent>.menu>.readNotice:active,
.homepage>.mainContent>.menu>.list>.listTitle:active{
    border:1px solid rgba(211, 211, 211); background-color: rgba(211, 211, 211,0.3);
}


.homepage>.mainContent>.menu>.list>.listTitle {
    position: relative;
}
.homepage>.mainContent>.menu>.list>.listTitle>.dropdownIcon {
    position: absolute; top:9px; right: 5px; width: 24px;
}

.homepage>.mainContent>.menu>.list>.listContent>.content {
    display: flex;justify-content: space-between;margin-bottom: 8px;padding: 4px 10px;
}

.homepage>.mainContent>.menu>.list>.listContent>.content:hover {
    background-color: rgba(211, 211, 211,0.28); border-radius: 5px;
}
.homepage>.mainContent>.menu>.list>.listContent>.content>.delete {
    width: 16px;
} */


/* boardLists */
/* .homepage>.mainContent>.boardLists {
    margin-left: 100px;border:1px solid rgba(211, 211, 211, 0.6);width: 75%;flex-grow: 4;
    display: flex; flex-direction: column;background-color: rgba(254, 246, 251, 0.36);box-shadow:3px 3px 12px lightgray
}

.homepage>.mainContent>.boardLists>.section>.category {
    font-weight: bolder; font-size: 20px; border-bottom: 2px solid rgba(211, 211, 211, 1);margin-bottom: 20px;padding-bottom: 5px;
}

.homepage>.mainContent>.boardLists>.section {
    display: flex; flex-direction: column;flex-grow: 1;margin: 20px;
}

.homepage>.mainContent>.boardLists>.section>.category {
    margin-bottom: 10px;letter-spacing: 2px;
}
.homepage>.mainContent>.boardLists>.section>.items {
    display: flex; flex-wrap: wrap;
}
.homepage>.mainContent>.boardLists>.section>.items>.board {
    border: 1px solid darkgray; background-color: rgba(211, 211, 211, 0.6); width: 150px; height: 90px; margin: 5px 20px 10px 0; text-align: center;line-height: 90px;border-radius: 12px;color: white;
} */



/* messages */
/* .homepage>.mainContent>.notifications {
    flex-grow: 4;margin-left: 100px;border:1px solid rgba(211, 211, 211, 0.6);width: 75%;background-color: rgba(254, 246, 251, 0.36);box-shadow:3px 3px 12px lightgray
}
.homepage>.mainContent>.notifications>.section {
    margin: 20px;
}
.homepage>.mainContent>.notifications>.section>.category {
    font-weight: bolder; font-size: 20px; border-bottom: 2px solid rgba(211, 211, 211, 1);margin-bottom: 20px;padding-bottom: 5px;letter-spacing: 2px;
}
.homepage>.mainContent>.notifications>.section>.bars {
    display: flex; flex-wrap: wrap;flex-direction: column;
}
.homepage>.mainContent>.notifications>.section>.bars>.sanckbar {
    display: flex; flex-wrap: wrap;justify-content: space-between;align-items: center;
}
.homepage>.mainContent>.notifications>.section>.bars>.sanckbar:hover {
    background-color: rgba(211, 211, 211,0.3);border-radius: 5px;
}

.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.msg {
    display: flex;align-items: center;margin-left: 15px;
}
.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.msg>.imgDiv {
    width: 28px;margin-right: 15px;
}

.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts {
    display: flex; flex-wrap: wrap;align-items: center;

}

.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts>.accept,
.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts>.deny {
    display: inline-block;
    padding: 0 14px;
    box-shadow: 0 4px 6px rgba(50,50,93,.11), 0 1px 3px rgba(0,0,0,.08);
    background: #fff;
    border-radius: 4px;
    transition: all .3s ease
} */

/* .homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts>.accept:active,
.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts>.deny:active {
    margin-top: 3px; position: relative; 
} */


/* .homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts>.accept:hover,
.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts>.deny:hover {
    color: white;
    transform: translateY(-1px);
    box-shadow: 0 7px 14px rgba(50,50,93,.1), 0 3px 6px rgba(0,0,0,.08);
}


.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts>.accept {
    margin-right: 15px;background-color: rgba(102,163,255,0.7);width: 50px;border-radius: 5px;box-shadow:0 1px 2px 0;padding: 2px;display: flex; align-items: center; justify-content: center;

}

.homepage>.mainContent>.notifications>.section>.bars>.sanckbar>.buts>.deny {
    margin-right: 15px;background-color: rgba(255,77,77,0.7);width: 50px;border-radius: 5px;box-shadow:0 1px 2px 0;padding: 2px;display: flex; align-items: center; justify-content: center;
} */


/* set CSS by ID */
#standard-textarea {
    max-height: 15px; margin-bottom: 3px;width: 150px;font-size: 14px;
}

/* memo */
.Llogin input[type=button]{
width: 260px; height: 40px;background: #fff; border: 1px solid #fff; cursor: crosshair; border-radius: 2px;color: #a18d6c; font-family: Lucida Console; font-size: 16px;padding: 5px;margin-top: 10px;
}

.Llogin input[type=button]:hover{
opacity: 0.8;
}

.Llogin input[type=button]:active{
opacity: 0.6;
}
