/* .glogin{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    margin-top: 10px;
    border: 1px solid #fff;
    cursor: crosshair;
    border-radius: 5px;
    color: #a18d6c;
    font-family: Lucida Console;
    font-size: 16px;
}


.glogin>span{
    font-family: Lucida Console;
    font-size: 16px;
    margin-bottom: 2px;
} */